@media print {

	@page {
		//size: A4 landscape !important;
		margin: 5mm;
	}

	.logo {
		filter: brightness(1%);
	}


	body {
		break-inside: avoid;
	}

	.susfit {
		content-visibility: visible;
		padding-left: 2mm !important;
		padding-right: 2mm !important;
		transform: scale(.99) !important;

		* {
			background-color: initial !important;
			color: #000 !important;
			transition: 0s !important;
			transition-delay: 0s !important;
		}

		section:first-of-type {
			padding: 1em 2em 0 2em !important;
			transform: scale(.8);

			> div {
				width: 100% !important;
			}
		}

		.print-only {
			display: block !important;
		}


		.print-image {
	        border-radius: 8px;
	        margin-top: 24px;
	    }

	}

	.footer-links, #background-animation, .button, .open-print-dialog, .course-filter {
		display: none !important;
	}

	.map-container {
		width: 100%;
		&:after {
			display: none;
		}
	}

}