@forward "./core/_breakpoints";
@use "./core/_colors" as * ;

@forward "./core/reset";
@forward "./core/fonts";
@forward "./core/typography";
@forward "./core/utils";


$grid-columns: 12 !default;
$enable-negative-margins: true;

$grid-breakpoints: (
    xs: 0,
    sm: 425px,
    md: 768px,
    lg: 880px,
    xl: 1024px
) !default;

$footerMin: 380px;

@import "bootstrap/scss/bootstrap";
@import "./print_overrides";

@import "./core/variables";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/body";
@import "./layout/nav";
@import "./layout/cards";

@import "./components/modal";
@import "./components/buttons";
@import "./components/parallax";
@import "./components/testimonials";

@import "./helpers/filters";


body, p, input, label, a, div, placeholder {
    font-family: 'Haptik', sans-serif;
    overscroll-behavior: none;
}

body {
    @extend .gradient-blue;
    text-rendering: optimizeLegibility;
    overscroll-behavior: none;
    overflow-x: hidden;
    touch-action: pan-y;
}

img {
    height: auto;
    width: 100%;
    aspect-ratio: auto;
}