@forward "./core/_breakpoints";
@use "./core/_colors" as * ;

@forward "./core/reset";
@forward "./core/fonts";
@forward "./core/typography";
@forward "./core/utils";

$grid-columns: 12 !default;
$enable-negative-margins: true;

$grid-breakpoints: (
    xs: 0,
    sm: 425px,
    md: 768px,
    lg: 880px,
    xl: 1024px
) !default;

$footerMin: 380px;

@import "bootstrap/scss/bootstrap";
@import "./print_overrides";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/body";

@import "./components/buttons";

body, p, input, label, a, div, placeholder {
    font-family: 'HaptikBold', sans-serif;
}

body {
    @extend .gradient-blue;
}

.dev-border {
    border: 2px solid red;
}