$greenDark: hsl(137, 100%, 13%);
$greenBright: hsl(137, 70%, 51%);
$greenCoreTint: hsl(136, 82%, 94%);
$greenCoreTint10: hsl(136, 82%, 94%);
$greenShd75: hsl(137, 70%, 63%);
$greenShd50: hsl(137, 70%, 75%);
$greenShd25: hsl(136, 71%, 88%);
$greenBorder: hsl(137, 28%, 35%);
$greenCoreDarkTint25: hsl(138, 15%, 78%);
$greenCoreDarkTint10: hsl(130, 14%, 91%);



$greyMute: hsl(0, 0%, 60%);
$greenMuteBorder: #daf1df;
$paleGrey: #f7f9f8;

$nWhite: #e3e3e3; 



.gradient-blue { 
    background: linear-gradient(90deg, #467FFF 0%, #2367FF 28.13%, #0A56FF 58.26%, #004EFC 80.56%, #0048EA 100%);
}