$corePink: rgba(245, 166, 255, 1);
$corePink75: rgba(245, 166, 255, .75);
$corePink50: rgba(245, 166, 255, .5);
$corePink25: rgba(245, 166, 255, .25);

$coreBlue: rgba(0, 79, 255, 1);
$coreBlue75: rgba(0, 79, 255, .75);
$coreBlue50: rgba(0, 79, 255, .5);
$coreBlue25: rgba(0, 79, 255, .25);

$altBlue: rgba(0, 255, 255, 1);
$altBlue75: rgba(0, 255, 255, .75);
$altBlue50: rgba(0, 255, 255, .5);
$altBlue25: rgba(0, 255, 255, .25);

$altYellow: rgba(243, 255, 0, 1);
$altYellow75: rgba(243, 255, 0, .75);
$altYellow50: rgba(243, 255, 0, .5);
$altYellow25: rgba(243, 255, 0, .25);

$nGrey: rgba(231, 223, 217, 1);
$nGrey75: rgba(231, 223, 217, .75);
$nGrey50: rgba(231, 223, 217, .5);
$nGrey25: rgba(231, 223, 217, .25);

$charcoal: #4A4645;

$cardPink: #FCE9FF;

$whiteIsh: #e3e3e3;


// what we offer cards aren't in the colour breakdown???

$offerPink: #BFFFFF;
$offerYellow: #FCFFBF;
$offerBlue: #BFD3FF;
$offerGreen: #BFFFFF;


.gradient-blue { 
    background: linear-gradient(90deg, #467FFF 0%, #2367FF 28.13%, #0A56FF 58.26%, #004EFC 80.56%, #0048EA 100%);
}

.transp {
    background: none;
}