@font-face { 
  font-family: "HaptikBold";
  src: url('../fonts/GT-Haptik-Bold.woff2') format('woff2'), url('../fonts/GT-Haptik-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'HapticMed';
  font-weight: 400;
  src: url('../fonts/GT-Haptik-Medium.ttf') format('ttf'), url('../fonts/GT-Haptik-Medium.woff2') format('woff2'), url('../fonts/GT-Haptik-Medium.woff') format('woff');
 }

@font-face { 
  font-family: 'Haptic';
  src: url('../fonts/GT-Haptik-Regular.woff2') format('woff2'), url('../fonts/GT-Haptik-Regular.woff') format('woff');
  font-weight: 500;
}