@font-face { 
  font-family: "HaptikBold";
  src: url('../fonts/GT-Haptik-Bold.woff2') format('woff2'), url('../fonts/GT-Haptik-Bold.woff') format('woff');
}

@font-face {
  font-family: 'HaptikMed';
  src: url('../fonts/GT-Haptik-Medium.ttf') format('ttf'), url('../fonts/GT-Haptik-Medium.woff2') format('woff2'), url('../fonts/GT-Haptik-Medium.woff') format('woff');
  font-weight: 200;
}

@font-face { 
  font-family: 'Haptik';
  src: url('../fonts/GT-Haptik-Regular.woff2') format('woff2'), url('../fonts/GT-Haptik-Regular.woff') format('woff');
  font-weight: 100;
}