@use "colors.scss" as *;
@use 'breakpoints.scss' as *;


body, p, input, label, a, div, placeholder {
	font-family: 'Haptik', sans-serif;
	font-weight: 100;
	font-size: 20px;
	line-height: 30px;
}

h1, .is-header, .lg-links {
	font-family: 'HaptikBold', sans-serif;
	font-size: 98px;
	line-height: 104px;
	letter-spacing: -3px;

	@include media-breakpoint-down(lg) { 
		font-size: 2.4em;
		line-height: 1.1em;
		letter-spacing: revert;
	}

	@include media-breakpoint-down(sm) { 
		font-size: 40px;
		line-height: 1.1em;
		letter-spacing: revert;
	}
}
.med {
	font-family: 'HaptikMed', sans-serif;
}

.content-intro {
	font-size: 32px;
	line-height: 40px;
}

.pseudo-ul {
    &:after {
    	content: '';
    	width: auto;
    	height: 2px;
    	display: block;
    	background: $corePink;
    	position: relative;
    	bottom: 3px;
	}

	&:hover:after {
		background: white;
	}
}

a {
	font-family: 'Haptik', sans-serif;
	text-decoration: none !important;

	&.email {
		color: $corePink;

		&:hover {
			color: white;
		}
	}

	&.phone {
		color: white;

		&:hover {
			color: $corePink;
		}
	}
}

.pseudo-ul {
    &:after {
    	content: '';
    	width: auto;
    	height: 2px;
    	display: block;
    	background: $corePink;
    	position: relative;
    	bottom: 3px;
	}

	&:hover:after {
		background: white;
	}
}

h1, h2, h3, h4, h5 {
	margin-bottom: 24px !important;
}

p, a, input, label {
	font-size: 1em;
	line-height: 30px;
}

p {
	margin-bottom: 2em !important;
}

ul {
	list-style-type: none;
}

sub {
	font-size: .9em;
	color: $nGrey75;
}

sup {
	$three3: .33em;
	top: -$three3;
}

blockquote {
	position: relative;
		quotes: "“" "”" "‘" "’";
}

.bq {
	position: absolute;
	font-size: 3em;
}

blockquote::before {
	@extend .bq;
		content: open-quote;
		top: -15px;
		left: -25px; 
}
blockquote::after {
	@extend .bq;
		content: close-quote;
}

.uc {
	text-transform: uppercase;
}

.is-header {
	color: white;
}


.haptik {
	font-family: 'Haptik', sans-serif; 

		&--med {
			font-family: 'HaptikMed', sans-serif; 
		}

		&--bold {
			font-family: 'HaptikBold', sans-serif; 
		}

		&--sub-title {
			font-weight: 100;
			font-size: 20px;
			line-height: 30px;
		}

		&--article-headline { 
			font-size: 48px;
			line-height: 56px;
			font-weight: 400;
		}
		&--feature-headline { 
			font-weight: 400;
			font-size: 32px;
			line-height: 40px;
		}
		&--blurb-regular { 
			font-size: 18px;
			line-height: 26px;

			@include media-breakpoint-down(sm) { 
				font-weight: 400;
				line-height: 24px;
				font-size: 16px;
			}
		}
		&--headline-semibold { 
			font-weight: 700;
			font-size: 20px;
			line-height: 28px;
		}
		&--sub-title-regular { 
			font-size: 32px;
			line-height: 40px;
		}

		&--body-regular {
			font-weight: 100;
			font-size: 20px;
			line-height: 30px;
		}
		&--title-semibold { 
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
		}
		&--footer-links { 
			font-weight: 400;
			font-size: 16px;
			line-height: 44px;
		}

		&--small { 
			font-weight: 400;
			font-size: 16px;
			line-height: 18px;
		}

	}


.pill {
	text-align: center;
    border-radius: 46px;
    height: 46px;
    background: white;
    padding: 0 30px 0 30px;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4px;
    align-items: center;
    color: black;
    font-family: 'HaptikMed', sans-serif;
}

.arrow-link {
	display: flex;

    span, img { 
        transition: .3s;
        margin-right: 4px;
    }
    span {
    	margin-left: 4px;
    }

    &:hover {
        opacity: .6;
        span, img { 
            margin-left: 6px;
        }
    }
}

.more-link, .back-link {
	@extend .arrow-link;
}

.back-link {
	img {
		margin-right: 0px;
	}
	span {
    	margin-left: 0px;
    }
	&:hover {        
    	img {
    		margin-right: 2px;
    		margin-left: -4px;
    	}
    	span {
    		margin-left: 0;
    	}
	}
}

$size: 2;
@while $size <= 40 {

  .fs-#{$size} {
    font-size: #{$size}px !important;
  }

  $size: $size + 2;
}





