.announcement {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 4px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 100;

    &.active {
        transform: translateX(0%);
    }

    .announcement-content {
        display: flex;
        align-items: center;

        .message {
            display: flex;
            flex-direction: column;
            margin: 0 20px;

            .response {
                font-size: 16px;
            }
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        min-width: 35px;
        background-color: $coreBlue;
        color: #fff;
        font-size: 20px;
        border-radius: 50%;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 5px;
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: $coreBlue;
        }
    }

    &.active {
        .progress:before {
             animation: progress 5s linear forwards;
        }
    }

     @keyframes progress {
        100% {
            right: 100%;
        }
    }

}

[data-type='info'] .icon {
    background: center / 97% no-repeat url(../images/info.svg) $coreBlue;
}
[data-type='success'] .icon {
    background: center / 97% no-repeat url(../images/success.svg) $altYellow;
}
[data-type='warning'] .icon {
    background-image: center / 97% no-repeat url(../images/warning.svg) $corePink;
}