.button { 
    text-align: center;
    border-radius: 46px;
    height: 46px;
    background: $corePink;
    min-width: fit-content;
    padding: 0 30px 0 30px;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4px;
    align-items: center;
    cursor:pointer;

    border: 1px solid transparent;
    color: black;

    transition: $transition-f;

    font-family: 'HaptikMed', sans-serif;

    &--pink {
        background: $corePink;

        &:hover,:focus {
            background: white;
        }
    }

    &--black {
        color: white;
        background: black;

        &:hover,:focus {
            background: $charcoal;
        }
    }

    &--white {
        color: black;
        background: white;
        border: 1px solid black;

        &:hover,:focus {
            border: 1px solid $charcoal;
            color: $charcoal;
        }
    }

    &--blue {
        background: $coreBlue;

        &:hover,:focus {
            background: $coreBlue50;
        }
    }

    &--altBlue {
        background: $altBlue;

        &:hover,:focus {
            background: $altBlue50;
        }
    }

    &--altYellow {
        background: $altYellow;

        &:hover,:focus {
            background: $altYellow50;
        }
    }

    &--grey {
        background: $nGrey;

        &:hover,:focus {
            background: $nGrey50;
        }
    }

    &--jumbo { 
        width: 100%;

        &--50 {
          width: 50%;  
        }
    }

    &--yellow { 
        background: $altYellow;
    }


    &--shake { 
        animation: shakeX 0.4s linear;
    }


    &:active { 
        background: initial;
    }

    &--disabled { 
        transition: .3s .2s;
        filter: grayscale(.9);
        opacity: .8;
        pointer-events: none;
        cursor: not-allowed !important;

        &.pointer-evs {
            pointer-events: visibleStroke;
            cursor: not-allowed !important;
        }
    }
}


@keyframes shakeX { 
    0% { 
        transform: translateX(0%);
    }

    25% { 
        transform: translateX(15px);
    }

    50% { 
        transform: translateX(-15px);
    }

    75% { 
        transform: translateX(15px);
    }

    100% { 
        transform: translateX(0);
    }
}


