.course-filter {
	display: flex;
	background: white;
	height: 120px;
	z-index: 3;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.2);

	@include media-breakpoint-down(md) { 
		height: 88px;
	}

	&--small {
		padding: 0 1.5em;
		cursor: pointer;
		background: 94% no-repeat url(../images/filter.svg);
	}
}

.filter-container {
	background: white;
	min-height: 98%;

	&--form {
		display: flex;
		flex-direction: column;
		min-height: 60vh;
		justify-content: space-between;
	}
}