.card {
	padding: 4em;
	border-radius: unset;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.35);
	transform: translateY(100px);
	position: relative;
	height: fit-content;

	&.show {
		transform: translateY(0);
	}

	&.hidden {
	  opacity: 0;
	  transform: translateY(10px);
	  pointer-events: none;
	}

	&:nth-child(even) {
		//@extend .offset-md-2;
	}
	

	&:last-of-type {
		margin-bottom: 280px !important;
	}

	@include media-breakpoint-down(lg) { 
		margin-left: unset !important;
	}

	@include media-breakpoint-down(md) { 
		margin-left: unset !important;
		padding: 1em;
	}



    &:nth-child(4n-1) {
    	background: $offerYellow;

    	img {
	 		@extend .filter--yellow;
	 	}
    }

    &:nth-child(4n-2) {
    	background: $offerBlue;

    	img {
	 		@extend .filter--blue;
	 	}
    }
    
    &:nth-child(4n-3) {
	 	background: $offerPink;

	 	img {
	 		@extend .filter--pink;
	 	}
    }

    &:nth-child(4n-4) {
    	background: $offerGreen;

    	img {
	 		@extend .filter--green;
	 	}
    }


    img {
    	max-height: fit-content;
    	aspect-ratio: auto;
    }

    &--action-container {
    	display: flex;
    	margin-top: 1em;
    	
    	> button {
    		margin-right: 2em;
    	}

    	@include media-breakpoint-down(md) {
    		justify-content: space-around;

    		> button {
    			margin: 0;
    		}
    	}
    }

    .card-text {

    	&--info {
    		color: $charcoal;
    		@extend .haptik--small;
    	}
    }
}

.course-row {
	padding: .8em 0;
	border-bottom: 1px solid $charcoal;
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;

    span {
    	@extend .haptik--small; 
    }
}