.susfit, .susform {

	#user-details, #contact-us {
		color: $charcoal;
		padding-top: 32px;

		&.read-only, &.disabled {
			opacity: .4;
			* {
				pointer-events: none;
			}
		}
	}

	.error {
		border: 1px solid $errorRed !important;
		animation: shake 0.8s ease-in-out;

		&:after {
			outline: 1px solid $errorRed !important;
		}
	}

	.error-label {
		color: $errorRed !important;
	}

	@keyframes shake {
		0% { 
			transform: translateX(0); 
		}
		25% { 
			transform: translateX(-20px); 
		}
		50% { 
			transform: translateX(20px); 
		}
		75% { 
			transform: translateX(-20px); 
		}
		100% { 
			transform: translateX(0); 
		}
	}

	label {
		@extend .med;
		width: 100%;

		&.in-line {
			width: auto;
			padding-left: 24px;
		}

		.grey {
			color: $charcoal;
		}
	}
	input, textarea {
		width: 100%;
		border: 1px solid $brownLight;
		border-radius: 8px;
		padding: 24px;
		margin: 8px 0 24px 0;
		background: transparent;
		transition: $transition-m;
		font-size: 18px;

			&:focus, &:hover {
				background: rgba(white, .25);
			}

			&:focus-within {
				outline: none;
			}

			&::placeholder { 
				font-size: 18px;
				line-height: 26px;
				color: $brownMed;
			}
	}

	input[type="checkbox"] {
		border: 1px solid $brownBorder;
		position: relative;
		display: grid;
		place-content: center;
		width: 24px;
		height: 24px;
		transition: $transition-s;
		padding: 0;

		&::after { 
			position: absolute;
			content: '';
			height: 32px;
			width: 32px;
			top: -8px;
			right: -8px;
			background: $brownMedNoTrans;
			display: grid;
			place-items: center;
			padding-top: 3px;
			outline: 1px solid $brownBorder;
		}

		&:hover::after {
			background: $brownPaleNoTrans;
		}
	}

	input[type="checkbox"]:checked::after {
		transform: scale(1);
		content: url(../images/tick.svg);
	}


	.select { 
	    display: block;
	    border: 1px solid $brownLight;
	    border-radius: 8px;
	    margin: 8px 0 24px 0;
	    padding: 24px 52px 24px 24px;  
	    width: 100%;
	    oveflow: hidden;
	    display: inline-block;
	    white-space: nowrap;
	    text-overflow: ellipsis;

	    &--disabled { 
	        opacity: 0.25;
	        pointer-events: none;
	    }
	   
	}


	select { 
	    background: url('../images/chevron.svg') transparent no-repeat calc(100% - 10px) !important;
	    appearance: none;
	    transition: transition-s;

	    &:not(:invalid) { 
	        color: $brownMed;

	    }

	    &:hover {
	    	background: url('../images/chevron_up.svg') rgba(white, .25) no-repeat calc(100% - 10px) !important;
	    }

	    &.max-w {
	    	width: 100%;
	    }
	}


	.input-inline {
		display: flex;
  		position: relative;
  		user-select: none;
	}

}

#pre-form-content, #post-form-content {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	align-content: center;
	min-height: 400px;
	color: $charcoalLight;
	transition: $transition-m;

	.card-placeholder {
		background-image: url(../images/credit_card.svg);
		background-position: 50%;
		background-repeat: no-repeat;
		width: 100%;
		height: 56px;
		display: block;
		transition: $transition-f;
	}

	&.hide-it {
		height: 0;
		min-height: 0;
		opacity: 0;

		> * {
			height: 0;
		}
	}
}


#post-form-content {
	display: none;

	&:not(.hide-it) {
		display: flex;
	}
}
