$max-w-01-s: 600px;
$max-w-01: 860px;
$max-w-02: 1400px;
$max-w-03: 1600px;

$container-w: 1600px;

.pole {
 	content: '';
	width: 12px;
	height: 200vh;
	background: white;
	display: block;
	position: absolute;
 }

 #background-animation {
 	position: absolute;
 	top: 0;
 	left: 50%;
 	transform: translateX(-50%);
 	width: 100vw;
	height: auto;
	min-height: 260vh;
 	z-index: 1;
 	overflow: hidden;
 	max-width: $container-w;


	.js-parallax-elem {
		opacity: 0;
	}

	.add-trans {
		transition: $transition-m;
		opacity: 1;
	}

 	.parallax-elem {
		position: absolute;
		transition: $transition-f;
		transform: translateY(80%);

		img {
			min-width: max-content;
		}
	}

	.parallax-area-01 {
	  	left: 46%;
	  	margin-left: 0;

	  	&:before {
	  		@extend .pole;
	  		left: 44px;
	  	}

		@media (max-width: $max-w-02) {
	  		left: 70%;
	  	}

	  	@media (max-width: $max-w-01) {
	  		left: 70%;
	  		transform: translateY(35%);
	  	}

		@media (min-width: $max-w-01) and (max-width: $max-w-02)  {
	  		left: 52%;
	  	}

	  	
	  	@media (max-width: $max-w-01-s) {
	  		left: 52%;
	  		opacity: .6;
	  		transform: translateY(35%);
	  	}


	}
	.parallax-area-02 {
	  	left: 61%;

	  	img {
	  		margin-top: 200px;
	  	}
	  	
	  	&:before {
	  		@extend .pole;
	  		left: 24px;
	  	}

	  	@media (min-width: $max-w-01) and (max-width: $max-w-02)  {
	  		left: 80%;
	  	}

	  	@media (max-width: $max-w-01) {
	  		opacity: 0;
	  	}

	}
	.parallax-area-03 {
	  	left: 73%;

	  	img {
	  		transform: translateY(20%);
	  	}

	  	&:before {
	  		@extend .pole;
	  		left: 44px;
	  	}

	  	@media (max-width: $max-w-03) {
	  		opacity: 0;
	  	}
	}

	.parallax-area-04 {
		bottom: 300px;
	  	left: 10%;


	  	&:before {
	  		@extend .pole;
	  		left: 135px;
    		width: 15px;
	  	}

	  	@media (max-width: $max-w-02) {
	  		opacity: 0;
	  	}
	}
 }
