$max-w-01-s: 600px;
$max-w-01: 860px;
$max-w-02: 1400px;
$max-w-03: 1600px;

$container-w: 1600px;

.pole {
 	content: '';
	width: 12px;
	height: 180vh;
	background: white;
	display: block;
	position: absolute;
 }

 #background-animation {
 	position: absolute;
 	top: 0;
 	left: 50%;
 	transform: translateX(-50%);
 	width: 100vw;
	height: auto;
	min-height: 300vh;
 	z-index: 1;
 	overflow: hidden;
 	max-width: $container-w;

 	@include media-breakpoint-down(sm) { 
 		//overflow: visible;
 	}
 	
	.js-parallax-elem {
		opacity: 0;
	}

	.add-trans {
		transition: $transition-m;
		opacity: 1;
	}

 	.parallax-elem {
		position: absolute;
		transition: $transition-f;

		img {
			min-width: max-content;
		}
	}
	.parallax-area-01 {
	  	left: 46%;
	  	margin-top: -320px;
	  	margin-left: 0;

	  	&:before {
	  		@extend .pole;
	  		left: 44px;
	  	}

		@media (max-width: $max-w-02) {
	  		left: 70%;
	  		margin-top: -130px;
	  		
	  		&:before {
	  			min-height: 250vh;
	  		}
	  	}

	  	@media (max-width: $max-w-01) {
	  		left: 70%;
	  		margin-top: 0px;
	  		
	  		img {
	  			margin-top: -20vh;
	  		}
	  		
	  		&:before {
	  			min-height: 280vh;
	  		}
	  	}

		@media (min-width: $max-w-01) and (max-width: $max-w-02)  {
	  		left: 52%;
	  		margin-top: -310px;
	  	}
	  	
	  	@media (max-width: $max-w-01-s) {
	  		left: 52%;
	  		margin-top: 0px;
	  		opacity: .6;

	  		img {
	  			margin-top: -180px;
	  		}
	  		
	  		&:before {
	  			//min-height: 250vh;
	  		}
	  	}


	}
	.parallax-area-02 {
	  	left: 61%;
	  	margin-top: -180px;

	  	&:before {
	  		@extend .pole;
	  		left: 24px;
	  	}

	  	@media (max-width: $max-w-02) {
	  		opacity: 0;
	  	}

	}
	.parallax-area-03 {
	  	left: 73%;
	  	margin-top: -180px;

	  	&:before {
	  		@extend .pole;
	  		left: 44px;
	  	}

	  	@media (max-width: $max-w-03) {
	  		opacity: 0;
	  	}
	}

	.parallax-area-04 {
	  	left: 10%;
	  	padding-top: 1250px;
	  	
	  	&:before {
	  		@extend .pole;
	  		left: 135px;
    		width: 15px;
	  	}

	  	img {
	  		margin-top: -120px;
	  	}

	  	@media (max-width: $max-w-02) {
	  		opacity: 0;
	  	}
	}
 }
