.testimonial-container {
	color: white;
	background: $coreBlue;
	padding: 4em 4em;

	.container {
		position: relative;
	}
	
	&--intro {

		@include media-breakpoint-up(md) { 
			padding-left: 4em;
		}
	}

	.testimonials {
		color: $altYellow;
		padding-bottom: 100px;

		@include media-breakpoint-up(lg) { 
			padding-left: 0;
		}

		@include media-breakpoint-down(md) { 
			padding-top: 42px;
		}

		.swiper-wrapper {
			min-height: 300px;

			@include media-breakpoint-down(sm) { 
				min-height: 400px;
			}
		}

		.swiper {
	      width: 100%;
	      height: 100%;
	      display: block;
	    }

		.swiper-slide {
			text-align: left;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.swiper-pagination {
			text-align: unset;

			@include media-breakpoint-down(md) { 
				margin-top: 32px;
			}
		}

		.swiper-pagination-bullet {

			width: 16px;
			height: 16px;

			background-color: white;
			opacity: .25;

			&-active {
				background-color: $altYellow;
				opacity: 1;
			}

			&:hover {
				background-color: white;
				opacity: 1;
			}
		}



	}


	@include media-breakpoint-down(md) { 
		padding: 2em;
	}


}