
$offerPink: #BFFFFF;
$offerYellow: #FCFFBF;
$offerBlue: #BFD3FF;
$offerGreen: #BFFFFF;

.filter {

	&--pink {
		filter: sepia(80%) saturate(100%) hue-rotate(245deg) brightness(85%) contrast(100%);
	}

	&--blue {
		filter: sepia(95%) saturate(155%) brightness(69%) hue-rotate(160deg);
	}

	&--yellow {
		filter: sepia(60%) saturate(200%) brightness(80%) hue-rotate(16deg);
	}

	&--green {
		filter: sepia(95%) saturate(140%) brightness(90%) hue-rotate(108deg);
	}

	&--grey {
		filter: sepia(10%) saturate(0%) brightness(100%) hue-rotate(180deg);
	}

	&--fuschia {
		filter: sepia(78%) saturate(70%) hue-rotate(276deg) brightness(100%) contrast(100%);
	}
}
