.content { 

    padding-top: 170px;
    padding-bottom: 220px;
    min-height: 600px;

    @include media-breakpoint-between(xl, 2xl) { 
    	.col-xl-3 {
    		width: 33%;
    	}
    }

    @include media-breakpoint-down(md) {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 40px;
    }

    &--align-top {
        padding-top: 240px;
        padding-bottom: 44px;
        min-height: unset;
    }

 }

 .over-anim {
 	position: relative;
 	z-index: 2;
 }

 .generalPadding {
 	padding-left: 92px;
    padding-right:  92px;
    padding-top: 46px;

    @include media-breakpoint-down(xl) { 
        padding-left: 46px;
        padding-right: 46px;

    }

    @include media-breakpoint-down(md) { 
        padding-left: 24px;
        padding-right: 24px;
    }

    & > * { 
        max-width: 1440px;
        margin: 0 auto;
    }

    @include media-breakpoint-down(sm) {
        overflow-wrap: normal;
    }
 }

 .susfit {
 	@extend .generalPadding;
    overscroll-behavior-y: none;
    overflow-x: clip;
    position: relative;

    @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
    }
 }
