.content { 

    padding-top: 96px;
    min-height: 600px;

    @include media-breakpoint-between(xl, 2xl) { 
    	
    	.col-xl-3 {
    		width: 33%;
    	}
    }

 }

 .over-anim {
 	position: relative;
 	z-index: 2;
 }

 .generalPadding {
 	padding-left: 92px;
    padding-right:  92px;
    padding-top: 46px;

    @include media-breakpoint-down(xl) { 
        padding-left: 46px;
        padding-right: 46px;

    }

    @include media-breakpoint-down(md) { 
        padding-left: 24px;
        padding-right: 24px;
    }

    & > * { 
        max-width: 1440px;
        margin: 0 auto;
    }

    @include media-breakpoint-down(sm) {
        overflow-wrap: normal;
    }
 }

 .susfit {
 	@extend .generalPadding;

    overscroll-behavior-y: none;
    overflow-x: clip;
    position:relative;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
 }