:root {
	--bs-gutter-x: 0;
}
.card-container {
	padding-bottom: 160px;

	&--fill-bottom {
		padding-bottom: 650px;
	}
}


.card {
	border-radius: 0;
	border: none;
	padding: 4em;
	align-self: baseline;
	filter: drop-shadow(3px 3px 1px $nGrey25);

	@include media-breakpoint-down(lg) { 
		margin-left: 0;
	}

	@include media-breakpoint-down(md) { 
		padding: 4em 1.5em;
	}

	&.shuffle {
		animation: shuffle-l $transition-m ease-in-out;
	}

	&:nth-of-type(2) {
		margin-top: 130px;
		align-self: self-start;

		&.shuffle {
			animation: shuffle-r $transition-m ease-in-out;
		}
		
		@include media-breakpoint-down(lg) { 
			margin-top: 0px;
		}
	}

	&--pull-left {
		margin-left: 0;
		transform: translateX(-2em);

		@include media-breakpoint-down(lg) { 
	        transform: translateX(0);
	    }
	}

	&--top {
		z-index: 2;
	}

	&--white {
		background: $whiteIsh;
	}

	&--pink {
		background: $cardPink;
	}

	&--blue {
		background: $coreBlue;
	}

	&--altBlue {
		background: $altBlue;
	}

	&--grey {
		background: $nGrey;
	}

	&--yellow {
		background: $altYellow;
	}

	&--green {
		background: $offerGreen;
	}

	img {
		min-width: 100%;
	}

	li {
		line-height: 50px;
	}

	a {
		display: inline-block;
		color: black;
		@extend .pseudo-ul;

		&:hover:after {
			background: black;
		}
	}

}

@keyframes shuffle-r {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(8%) scale(1.04);
	}
	1000% {
		transform: translateX(0%);
	}
}

@keyframes shuffle-l {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-8%) scale(1.04);
	}
	1000% {
		transform: translateX(0%);
	}
}
