footer {
	background: black;
	color: white;
	min-height: $footerMin;
	padding-bottom: 90px;

	@extend .generalPadding;
}

.footer__container {
	position: relative;
	
    @include media-breakpoint-down(lg) {
        padding: 1em;
    }

    @include media-breakpoint-between(md, lg) {
    	padding: 0;
    }

	&__columns  {
		padding: 0 4rem;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-row-gap: 3em;
        grid-column-gap: 4em;
        width: 100%;

        @include media-breakpoint-down(lg) { 
        	padding: 0;
        }

        @include media-breakpoint-down(md) { 
        	margin-top: 20px;
        	grid-row-gap: 1em;
            grid-template-columns: repeat(1, 1fr);
    		grid-template-rows: repeat(1, 1fr);
    		padding: 0;
        }
    }

}

.footer-logo {
	background: url('/images/logo_footer.svg');
	background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 314px;
    height: 35px;
    display: block;

    @include media-breakpoint-down(md) { 
    	width: 90%;
    	margin: .8em 0;
    }
}


.footer-links {

	@include media-breakpoint-down(md) {
		padding-bottom: 100px;
	}

	li {

		line-height: 50px;

		a{
			color: white;
			display: inline-block;
			@extend .haptik--sub-title;
			@extend .pseudo-ul;
		}

	}
}

.contact-venues {
	@include media-breakpoint-down(md) {
		padding-bottom: 100px;
	}
}

.venue-list {
	margin-top: 16px;
	line-height: 30px;

	@include media-breakpoint-down(md) {
		margin-top: 60px;
	}
}