header {

	@include media-breakpoint-down(md) {
        padding: 0 2em;
    }

	.logo {
		transition: $transition-m;
		
		a{
			display: block;
			width: 201px;
			height: 148px !important;
		}

		@include media-breakpoint-down(md) { 
			img {
				width: 140px;
				height: 103px;	
			}
		}
		
	}

	.menu {
		cursor: pointer;
		color: white;
		height: 40px;

		span {
			padding: .05em .8em;
		}

		&:after {
			content: '';
			display: block;
			width: 32px;
			height: 40px;
			background: url('/images/menu_icon_on.svg');
			background-size: contain;
	    	background-repeat: no-repeat;
	    	background-position: top center;
			transition: $transition-f;
		}

		&:hover:after {
			transform: skew(-0.2rad) rotate(-11deg);
		}

	}

}